@font-face {
    font-family: IndieFlower;
    // src: url(~@/fonts/Indie_Flower/IndieFlower-Regular.ttf);
    src: url(../../fonts/Indie_Flower/IndieFlower-Regular.ttf);
}
@font-face {
    font-family: Asap;
    src: url(../../fonts/Asap/Asap-Regular.ttf);
}